.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
*.DS_Store

Intermediate/
Saved/
DerivedDataCache/

Binaries/
!Binaries/
!Binaries/Win64/
!Binaries/Win64/UnrealEditor-NodeToCode.dll
!Binaries/Win64/UnrealEditor.modules

Build/
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

*.pdb
*.obj
*.o
*.lib
*.exp
*.ilk
*.exe
*.app
*.ipa
*.dylib
*.so

.env
.aider*
/.aider.tags.cache.v3
