.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
*.DS_Store

/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/

/Plugins/*/Intermediate/
/Plugins/*/Binaries/**/*.pdb
/Plugins/*/Binaries/**/*.obj
/Plugins/*/Binaries/**/*.lib
/Plugins/*/Binaries/**/*.exp
/Plugins/*/Binaries/**/*.ilk

*.pdb
*.obj
*.o
*.lib
*.exp
*.ilk

.env
.aider*
/.aider.tags.cache.v3
